<h2>Show Spawn</h2>

<ul>

  <li>
    <strong>Blue:</strong>
    <%= @spawn.blue %>
  </li>

  <li>
    <strong>Yellow:</strong>
    <%= @spawn.yellow %>
  </li>

  <li>
    <strong>Orange:</strong>
    <%= @spawn.orange %>
  </li>

  <li>
    <strong>Red:</strong>
    <%= @spawn.red %>
  </li>

</ul>

<span><%= link "Edit", to: spawn_path(@conn, :edit, @spawn) %></span>
<span><%= link "Back", to: spawn_path(@conn, :index) %></span>
