<h2>Show Equipment</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @equipment.name %>
  </li>

</ul>

<span><%= link "Edit", to: equipment_path(@conn, :edit, @equipment) %></span>
<span><%= link "Back", to: equipment_path(@conn, :index) %></span>
