<%= form_for @conn, page_path(@conn, :index), [as: :index], fn f -> %>
  <%= for set <- @sets do %>
    <%= inputs_for f, :sets, fn s -> %>
      <span>
        <%= checkbox(s, String.to_atom("#{set.id}")) %>
        <%= label(s, String.to_atom("#{set.name}"), set.name) %>
      </span>
    <% end %>
  <% end %>

  <div>
    <%= submit "Generate Deck" %>
  </div>

  <div>Cards: <%= length(@spawns) %></div>
<% end %>
