/* This file is for your main application css. */
input[type="button"], button[type="submit"] {
  color: black;
}

body.dark {
  color: white;
  background-image: url("/images/background-bp.jpg");
}

.fork-me-github {
  position: absolute;
  border: 0;
  top: 0;
  right: 0;
  content: url('/images/fork-me-github.png');
}

img {
  max-height: 300px;
}

.float-right {
  float: right;
}

.centered {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.inline-block {
  display: inline-block;
}

.sets-wrapper {
  display: block;
  overflow: auto;
}

.sets {
  width: 50%;
  float: left;
}

.sets div {
  padding-bottom: 10px;
  padding-left: 25px;
}

@media (min-width: 768px) {
  .container {
    max-width: 1080px;
  }
}
