/* This file is for your main application css. */
.row {
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}

.row.top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.row.bottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.spawn-row {
  height: 25%;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  color: black;
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.equip-top {
  color: black;
  height: 75%;
}

.equip-desc {
  color: black;
  height: 25%;
}

.card {
  color: white;
  width: 240px;
  height: 300px;
  margin-bottom: 10px;
}

.float-right {
  float: right;
}

.centered {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
